* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
#main {
  width: 1440px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(229, 57%, 11%) url(images/bg-desktop.png) no-repeat;
  background-position: 50% 100%;
}
#left {
  width: 350px;
  height: 200px;
  background: hsl(228, 56%, 26%);
  border-radius: 10px 100px 10px 10px;
  margin: 15px;
  position: relative;
  top: -25px;
  padding: 40px;
}
#icons {
  display: flex;
  margin-top: 25px;
}
.icon {
  width: 45px;
  height: 45px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#right {
  width: 540px;
  height: 155px;
  background: hsl(228, 56%, 26%);
  border-radius: 10px;
  margin: 15px;
  padding: 35px;
  color: white;
  font-size: 14px;
}
#bubble {
  background: white;
  width: 200px;
  height: 70px;
  position: relative;
  left: 260px;
  top: -100px;
  border-radius: 10px;
  color: hsl(229, 57%, 11%);
}
#progbar {
  position: relative;
  top: -50px;
}

#bar {
  width: 455px;
  height: 15px;
  background: hsl(229, 57%, 11%);
  border-radius: 7.5px;
  padding: 2px;
}
#bar-prog {
  height: 11px;
  width: 75%;
  border-radius: 6px;
  padding: 0.5px;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
#ball {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 5px;
  position: relative;
  left: 326px;
}
#nmbrs {
  display: flex;
  justify-content: space-between;
}
